<ion-header>
  <ion-toolbar>
    <ion-title class="tab-title">
      Calendar
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-avatar slot="start">
      <img src="assets/images/avatar_default.png">
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-title>
      <div #dateDisplay class="date-display">
        <p>{{ displayedDate | date: 'EEEE' }}</p>
        <p>{{ displayedDate | date: 'MMMM' }}</p>
        <p class="bold">{{ displayedDate | date: 'd' }}</p>
        <p>{{ displayedDate | date: 'y' }}</p>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="day-view">
    <div *ngFor="let slot of daySlots" class="time-slot">
      <span class="time-text">{{ slot.displayTime }}</span>
      <hr [class]="slot.isHour ? 'hour-line' : 'interval-line'" />
    </div>
  </div>
</ion-content>

<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button (click)="openNewEventPage()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
