.tab-title {
    --color: #629abb; 
    font-family: 'Playfair Display', serif;
    text-align: center; 
}
  
ion-fab-button {
    --background: #629abb; 
}

.date-display p {
    margin: 0;
    text-align: center;
  }
  
  .bold {
    font-weight: bold;
    font-size: larger;
  }